<script type="text/javascript"> var express_confirm = "Are you sure?" </script>
<div class="dialogbetsbox">
    <div class="gamerinfo">
        <div id="56525gamer_1" class="s4 winner gamer_1">Mith.Trust</div>
        <div class="s2"><img src="https://images.egamingbets.com/flags/th.png"/></div>
        <div class="s2"><img src="https://images.egamingbets.com/flags/no.png"/></div>
        <div id="view_coef_1" class="s3">Rate: 1.433</div>
        <div><img src="https://images.egamingbets.com/nicks/5624628b8a949e713f421774b6453f7a.png" width="100"
                  height="100"/></div>
    </div>
    <div class="gameinfo">
        <div class="s1">VS</div>
        <div class="s2">Dota2</div>
        <div class="s2">Starseries</div>
        <div class="s3">09.12 09:45</div>
        <div class="s3">Match is over</div>
        <div class="s1">[1 : 0]</div>
        <div class="s5">Max bet: 200$</div>
    </div>
    <div class="gamerinfo">
        <div id="56525gamer_2" class="s4 gamer_2">Execration</div>
        <div class="s2"><img src="https://images.egamingbets.com/flags/ph.png"/></div>
        <div class="s2"><img src="https://images.egamingbets.com/flags/no.png"/></div>
        <div id="view_coef_2" class="s3">Rate: 2.5</div>
        <div></div>
    </div>
    <div style="clear:left;"></div>
    <div></div>
    <form action="" method="post" id="bet-form"><input type="hidden" name="_csrf_token"
                                                       value="4942946e05396c536a885b91b3560ef9"/> <!-- Nested Bets -->
        <!-- End Nested Bets --> </form>
</div> <!-- Comments --> <span class="commentlink"
                               onclick="displaycomentbox(56525,'bets_en');return false;">Comments</span>
<div id="displaycomentboxbets_en56525" style="display:none;">
    <div class="viewcomentbox">
        <div id="commentsboxbets_en56525"> No comments.</div>
    </div>
</div>