<ul id="collapser">
    <style>tr#h td {
        padding: 5px;
        font-weight: bold;
        text-align: center;
    }</style>
    <li style="list-style: none; background: #151515;border: solid 1px;margin: 5px; color: gray; text-align: left; font-size: 13px; font-family: Tahoma;">
        <div style="height: 40px; background:#0B0B0B;">
            <div style="padding: 10px; padding-bottom: 0px; float: left;"><span
                    style="color: white; font-weight: bold; font-size: 18px;">The Summit 2</span>&nbsp;&nbsp;<span
                    style="color: white; font-weight: bold; font-size: 18px;">21:00:00 3.12.14</span></div>
            <div style="float: right;"><img
                    src="https://images.egamingbets.com/voting/f033ab37c30201f73f142449d037028d.png" border="0"/></div>
        </div>
        <ul style="padding: 10px;color: #000000;list-style: none;">
            <center><b class="head_yel">Who will win in Dota 2 The Summit 2? Odds are not fixed. Your gain will be paid
                according to the final odds, when bets on the tournament will be closed.</b></center>
            <table width="100%" border="0" style="color: white;">
                <tr id="h">
                    <td>Name</td>
                    <td>Rate</td>
                    <td>Ratio</td>
                    <td>Your bet</td>
                    <td>Win prize</td>
                </tr>
                <tr>
                    <td>Evil Geniuses</td>
                    <td id="koef_td" class="k686">2.6</td>
                    <td id="perc_td" class="koef_686">34.59%</td>
                    <td id="my_bet" class="m686"></td>
                    <td id="possible" class="p686"></td>
                </tr>
                <tr>
                    <td>Team Tinker</td>
                    <td id="koef_td" class="k687">32.14</td>
                    <td id="perc_td" class="koef_687">2.8%</td>
                    <td id="my_bet" class="m687"></td>
                    <td id="possible" class="p687"></td>
                </tr>
                <tr>
                    <td>Secret Team</td>
                    <td id="koef_td" class="k688">3.81</td>
                    <td id="perc_td" class="koef_688">23.62%</td>
                    <td id="my_bet" class="m688"></td>
                    <td id="possible" class="p688"></td>
                </tr>
                <tr>
                    <td>Vici Gaming</td>
                    <td id="koef_td" class="k689">2.81</td>
                    <td id="perc_td" class="koef_689">32.07%</td>
                    <td id="my_bet" class="m689"></td>
                    <td id="possible" class="p689"></td>
                </tr>
                <tr>
                    <td>Not Today</td>
                    <td id="koef_td" class="k690">66.67</td>
                    <td id="perc_td" class="koef_690">1.35%</td>
                    <td id="my_bet" class="m690"></td>
                    <td id="possible" class="p690"></td>
                </tr>
                <tr>
                    <td>Cloud 9</td>
                    <td id="koef_td" class="k691">16.76</td>
                    <td id="perc_td" class="koef_691">5.37%</td>
                    <td id="my_bet" class="m691"></td>
                    <td id="possible" class="p691"></td>
                </tr>
            </table>
            <br/><br/><br/>
            <center><b class="head_yel">YOU LOST: (Vici Gaming)</b></center>
            <script type="text/javascript">var q80 = [];
            q80.push("2.6");
            q80.push("32.14");
            q80.push("3.81");
            q80.push("2.81");
            q80.push("66.67");
            q80.push("16.76");
            function amountchange80(id) {
                if ($("#amount" + id + "").val() > -1) {
                    fm = 2890.9399925619364;
                    val1 = parseFloat($("#amount" + id + "").val());
                    amount = parseInt($("#select80 option:selected").val());
                    koef = parseFloat($("#koef_td.k" + amount + "").text());
                    $("#win" + id + "").val(koef * val1);
                } else $("#amount" + id + "").val(0)
            }</script>
        </ul>
    </li>
    <style>tr#h td {
        padding: 5px;
        font-weight: bold;
        text-align: center;
    }</style>
    <li style="list-style: none; background: #151515;border: solid 1px;margin: 5px; color: gray; text-align: left; font-size: 13px; font-family: Tahoma;">
        <div style="height: 40px; background:#0B0B0B;">
            <div style="padding: 10px; padding-bottom: 0px; float: left;"><span
                    style="color: white; font-weight: bold; font-size: 18px;">DreamHack CS:GO</span>&nbsp;&nbsp;<span
                    style="color: white; font-weight: bold; font-size: 18px;">14:00:00 27.11.14</span></div>
            <div style="float: right;"><img
                    src="https://images.egamingbets.com/voting/d1fe173d08e959397adf34b1d77e88d7.png" border="0"/></div>
        </div>
        <ul style="padding: 10px;color: #000000;list-style: none;">
            <center><b class="head_yel">Who will win in CS:GO DreamHack Winter? Odds are not fixed. Your gain will be
                paid according to the final odds, when bets on the tournament will be closed.</b></center>
            <table width="100%" border="0" style="color: white;">
                <tr id="h">
                    <td>Name</td>
                    <td>Rate</td>
                    <td>Ratio</td>
                    <td>Your bet</td>
                    <td>Win prize</td>
                </tr>
                <tr>
                    <td>fnatic</td>
                    <td id="koef_td" class="k677">2.24</td>
                    <td id="perc_td" class="koef_677">40.2%</td>
                    <td id="my_bet" class="m677"></td>
                    <td id="possible" class="p677"></td>
                </tr>
                <tr>
                    <td>Nip</td>
                    <td id="koef_td" class="k678">4.31</td>
                    <td id="perc_td" class="koef_678">20.88%</td>
                    <td id="my_bet" class="m678"></td>
                    <td id="possible" class="p678"></td>
                </tr>
                <tr>
                    <td>LDLC</td>
                    <td id="koef_td" class="k679">7.38</td>
                    <td id="perc_td" class="koef_679">12.19%</td>
                    <td id="my_bet" class="m679"></td>
                    <td id="possible" class="p679"></td>
                </tr>
                <tr>
                    <td>Virtus pro</td>
                    <td id="koef_td" class="k680">15.96</td>
                    <td id="perc_td" class="koef_680">5.64%</td>
                    <td id="my_bet" class="m680"></td>
                    <td id="possible" class="p680"></td>
                </tr>
                <tr>
                    <td>Na`Vi</td>
                    <td id="koef_td" class="k681">11.52</td>
                    <td id="perc_td" class="koef_681">7.81%</td>
                    <td id="my_bet" class="m681"></td>
                    <td id="possible" class="p681"></td>
                </tr>
                <tr>
                    <td>dignitas</td>
                    <td id="koef_td" class="k682">13.53</td>
                    <td id="perc_td" class="koef_682">6.65%</td>
                    <td id="my_bet" class="m682"></td>
                    <td id="possible" class="p682"></td>
                </tr>
                <tr>
                    <td>Ibuypower</td>
                    <td id="koef_td" class="k683">44.55</td>
                    <td id="perc_td" class="koef_683">2.02%</td>
                    <td id="my_bet" class="m683"></td>
                    <td id="possible" class="p683"></td>
                </tr>
                <tr>
                    <td>cloud 9</td>
                    <td id="koef_td" class="k684">36.14</td>
                    <td id="perc_td" class="koef_684">2.49%</td>
                    <td id="my_bet" class="m684"></td>
                    <td id="possible" class="p684"></td>
                </tr>
                <tr>
                    <td>Other team</td>
                    <td id="koef_td" class="k685">50.56</td>
                    <td id="perc_td" class="koef_685">1.78%</td>
                    <td id="my_bet" class="m685"></td>
                    <td id="possible" class="p685"></td>
                </tr>
            </table>
            <br/><br/><br/>
            <center><b class="head_yel">YOU LOST: (LDLC)</b></center>
            <script type="text/javascript">var q79 = [];
            q79.push("2.24");
            q79.push("4.31");
            q79.push("7.38");
            q79.push("15.96");
            q79.push("11.52");
            q79.push("13.53");
            q79.push("44.55");
            q79.push("36.14");
            q79.push("50.56");
            function amountchange79(id) {
                if ($("#amount" + id + "").val() > -1) {
                    fm = 2569.9500003159046;
                    val1 = parseFloat($("#amount" + id + "").val());
                    amount = parseInt($("#select79 option:selected").val());
                    koef = parseFloat($("#koef_td.k" + amount + "").text());
                    $("#win" + id + "").val(koef * val1);
                } else $("#amount" + id + "").val(0)
            }</script>
        </ul>
    </li>
    <style>tr#h td {
        padding: 5px;
        font-weight: bold;
        text-align: center;
    }</style>
    <li style="list-style: none; background: #151515;border: solid 1px;margin: 5px; color: gray; text-align: left; font-size: 13px; font-family: Tahoma;">
        <div style="height: 40px; background:#0B0B0B;">
            <div style="padding: 10px; padding-bottom: 0px; float: left;"><span
                    style="color: white; font-weight: bold; font-size: 18px;">DreamLeague Dota 2</span>&nbsp;&nbsp;<span
                    style="color: white; font-weight: bold; font-size: 18px;">14:00:00 27.11.14</span></div>
            <div style="float: right;"><img
                    src="https://images.egamingbets.com/voting/35f4a8d465e6e1edc05f3d8ab658c551.png" border="0"/></div>
        </div>
        <ul style="padding: 10px;color: #000000;list-style: none;">
            <center><b class="head_yel">Who will win in Dota 2 DreamLeague Season 2: Winter? Odds are not fixed. Your
                gain will be paid according to the final odds, when bets on the tournament will be closed.</b></center>
            <table width="100%" border="0" style="color: white;">
                <tr id="h">
                    <td>Name</td>
                    <td>Rate</td>
                    <td>Ratio</td>
                    <td>Your bet</td>
                    <td>Win prize</td>
                </tr>
                <tr>
                    <td>Cloud 9</td>
                    <td id="koef_td" class="k671">3.78</td>
                    <td id="perc_td" class="koef_671">23.81%</td>
                    <td id="my_bet" class="m671"></td>
                    <td id="possible" class="p671"></td>
                </tr>
                <tr>
                    <td>Evil Geniuses</td>
                    <td id="koef_td" class="k672">1.63</td>
                    <td id="perc_td" class="koef_672">55.12%</td>
                    <td id="my_bet" class="m672"></td>
                    <td id="possible" class="p672"></td>
                </tr>
                <tr>
                    <td>Team Tinker</td>
                    <td id="koef_td" class="k673">17.93</td>
                    <td id="perc_td" class="koef_673">5.02%</td>
                    <td id="my_bet" class="m673"></td>
                    <td id="possible" class="p673"></td>
                </tr>
                <tr>
                    <td>4 Anchors + Sea Captain</td>
                    <td id="koef_td" class="k674">16.01</td>
                    <td id="perc_td" class="koef_674">5.62%</td>
                    <td id="my_bet" class="m674"></td>
                    <td id="possible" class="p674"></td>
                </tr>
                <tr>
                    <td>Virtus.pro Polar</td>
                    <td id="koef_td" class="k675">22.11</td>
                    <td id="perc_td" class="koef_675">4.07%</td>
                    <td id="my_bet" class="m675"></td>
                    <td id="possible" class="p675"></td>
                </tr>
                <tr>
                    <td>Virtus.pro</td>
                    <td id="koef_td" class="k676">15.05</td>
                    <td id="perc_td" class="koef_676">5.98%</td>
                    <td id="my_bet" class="m676"></td>
                    <td id="possible" class="p676"></td>
                </tr>
            </table>
            <br/><br/><br/>
            <center><b class="head_yel">YOU LOST: (Evil Geniuses)</b></center>
            <script type="text/javascript">var q78 = [];
            q78.push("3.78");
            q78.push("1.63");
            q78.push("17.93");
            q78.push("16.01");
            q78.push("22.11");
            q78.push("15.05");
            function amountchange78(id) {
                if ($("#amount" + id + "").val() > -1) {
                    fm = 1572.629999190569;
                    val1 = parseFloat($("#amount" + id + "").val());
                    amount = parseInt($("#select78 option:selected").val());
                    koef = parseFloat($("#koef_td.k" + amount + "").text());
                    $("#win" + id + "").val(koef * val1);
                } else $("#amount" + id + "").val(0)
            }</script>
        </ul>
    </li>
    <style>tr#h td {
        padding: 5px;
        font-weight: bold;
        text-align: center;
    }</style>
    <li style="list-style: none; background: #151515;border: solid 1px;margin: 5px; color: gray; text-align: left; font-size: 13px; font-family: Tahoma;">
        <div style="height: 40px; background:#0B0B0B;">
            <div style="padding: 10px; padding-bottom: 0px; float: left;"><span
                    style="color: white; font-weight: bold; font-size: 18px;">DreamHack StarCraft</span>&nbsp;&nbsp;<span
                    style="color: white; font-weight: bold; font-size: 18px;">14:00:00 27.11.14</span></div>
            <div style="float: right;"><img
                    src="https://images.egamingbets.com/voting/28dd2c7955ce926456240b2ff0100bde.png" border="0"/></div>
        </div>
        <ul style="padding: 10px;color: #000000;list-style: none;">
            <center><b class="head_yel">Who will win in Starcraft 2 DreamHack 2014&nbsp;Open: Winter? Odds are not
                fixed. Your gain will be paid according to the final odds, when bets on the tournament will be
                closed.</b></center>
            <table width="100%" border="0" style="color: white;">
                <tr id="h">
                    <td>Name</td>
                    <td>Rate</td>
                    <td>Ratio</td>
                    <td>Your bet</td>
                    <td>Win prize</td>
                </tr>
                <tr>
                    <td>Life</td>
                    <td id="koef_td" class="k659">4.14</td>
                    <td id="perc_td" class="koef_659">21.72%</td>
                    <td id="my_bet" class="m659"></td>
                    <td id="possible" class="p659"></td>
                </tr>
                <tr>
                    <td>TaeJa</td>
                    <td id="koef_td" class="k660">5.44</td>
                    <td id="perc_td" class="koef_660">16.54%</td>
                    <td id="my_bet" class="m660"></td>
                    <td id="possible" class="p660"></td>
                </tr>
                <tr>
                    <td>San</td>
                    <td id="koef_td" class="k661">11.21</td>
                    <td id="perc_td" class="koef_661">8.03%</td>
                    <td id="my_bet" class="m661"></td>
                    <td id="possible" class="p661"></td>
                </tr>
                <tr>
                    <td>HerO</td>
                    <td id="koef_td" class="k662">27.19</td>
                    <td id="perc_td" class="koef_662">3.31%</td>
                    <td id="my_bet" class="m662"></td>
                    <td id="possible" class="p662"></td>
                </tr>
                <tr>
                    <td>Jaedong</td>
                    <td id="koef_td" class="k663">25.21</td>
                    <td id="perc_td" class="koef_663">3.57%</td>
                    <td id="my_bet" class="m663"></td>
                    <td id="possible" class="p663"></td>
                </tr>
                <tr>
                    <td>MC</td>
                    <td id="koef_td" class="k664">7.38</td>
                    <td id="perc_td" class="koef_664">12.2%</td>
                    <td id="my_bet" class="m664"></td>
                    <td id="possible" class="p664"></td>
                </tr>
                <tr>
                    <td>Solar</td>
                    <td id="koef_td" class="k665">13.95</td>
                    <td id="perc_td" class="koef_665">6.45%</td>
                    <td id="my_bet" class="m665"></td>
                    <td id="possible" class="p665"></td>
                </tr>
                <tr>
                    <td>MMA</td>
                    <td id="koef_td" class="k666">7.73</td>
                    <td id="perc_td" class="koef_666">11.65%</td>
                    <td id="my_bet" class="m666"></td>
                    <td id="possible" class="p666"></td>
                </tr>
                <tr>
                    <td>jjakji</td>
                    <td id="koef_td" class="k667">34.22</td>
                    <td id="perc_td" class="koef_667">2.63%</td>
                    <td id="my_bet" class="m667"></td>
                    <td id="possible" class="p667"></td>
                </tr>
                <tr>
                    <td>Snute</td>
                    <td id="koef_td" class="k668">46.63</td>
                    <td id="perc_td" class="koef_668">1.93%</td>
                    <td id="my_bet" class="m668"></td>
                    <td id="possible" class="p668"></td>
                </tr>
                <tr>
                    <td>Polt</td>
                    <td id="koef_td" class="k669">22.39</td>
                    <td id="perc_td" class="koef_669">4.02%</td>
                    <td id="my_bet" class="m669"></td>
                    <td id="possible" class="p669"></td>
                </tr>
                <tr>
                    <td>Other player</td>
                    <td id="koef_td" class="k670">13.2</td>
                    <td id="perc_td" class="koef_670">6.82%</td>
                    <td id="my_bet" class="m670"></td>
                    <td id="possible" class="p670"></td>
                </tr>
            </table>
            <br/><br/><br/>
            <center><b class="head_yel">YOU LOST: (Other player)</b></center>
            <script type="text/javascript">var q77 = [];
            q77.push("4.14");
            q77.push("5.44");
            q77.push("11.21");
            q77.push("27.19");
            q77.push("25.21");
            q77.push("7.38");
            q77.push("13.95");
            q77.push("7.73");
            q77.push("34.22");
            q77.push("46.63");
            q77.push("22.39");
            q77.push("13.2");
            function amountchange77(id) {
                if ($("#amount" + id + "").val() > -1) {
                    fm = 1070.4900010861456;
                    val1 = parseFloat($("#amount" + id + "").val());
                    amount = parseInt($("#select77 option:selected").val());
                    koef = parseFloat($("#koef_td.k" + amount + "").text());
                    $("#win" + id + "").val(koef * val1);
                } else $("#amount" + id + "").val(0)
            }</script>
        </ul>
    </li>
    <style>tr#h td {
        padding: 5px;
        font-weight: bold;
        text-align: center;
    }</style>
    <li style="list-style: none; background: #151515;border: solid 1px;margin: 5px; color: gray; text-align: left; font-size: 13px; font-family: Tahoma;">
        <div style="height: 40px; background:#0B0B0B;">
            <div style="padding: 10px; padding-bottom: 0px; float: left;"><span
                    style="color: white; font-weight: bold; font-size: 18px;">DreamHack HS</span>&nbsp;&nbsp;<span
                    style="color: white; font-weight: bold; font-size: 18px;">16:30:00 27.11.14</span></div>
            <div style="float: right;"><img
                    src="https://images.egamingbets.com/voting/fbd7939d674997cdb4692d34de8633c4.png" border="0"/></div>
        </div>
        <ul style="padding: 10px;color: #000000;list-style: none;">
            <center><b class="head_yel">Who will win in DreamHack Hearthstone Championship? Odds are not fixed. Your
                gain will be paid according to the final odds, when bets on the tournament will be closed.</b></center>
            <table width="100%" border="0" style="color: white;">
                <tr id="h">
                    <td>Name</td>
                    <td>Rate</td>
                    <td>Ratio</td>
                    <td>Your bet</td>
                    <td>Win prize</td>
                </tr>
                <tr>
                    <td>Rdu</td>
                    <td id="koef_td" class="k644">32.73</td>
                    <td id="perc_td" class="koef_644">2.75%</td>
                    <td id="my_bet" class="m644"></td>
                    <td id="possible" class="p644"></td>
                </tr>
                <tr>
                    <td>Amaz</td>
                    <td id="koef_td" class="k645">20.74</td>
                    <td id="perc_td" class="koef_645">4.34%</td>
                    <td id="my_bet" class="m645"></td>
                    <td id="possible" class="p645"></td>
                </tr>
                <tr>
                    <td>Gaara</td>
                    <td id="koef_td" class="k646">53.25</td>
                    <td id="perc_td" class="koef_646">1.69%</td>
                    <td id="my_bet" class="m646"></td>
                    <td id="possible" class="p646"></td>
                </tr>
                <tr>
                    <td>Kolento</td>
                    <td id="koef_td" class="k647">5.84</td>
                    <td id="perc_td" class="koef_647">15.41%</td>
                    <td id="my_bet" class="m647"></td>
                    <td id="possible" class="p647"></td>
                </tr>
                <tr>
                    <td>Savjz</td>
                    <td id="koef_td" class="k648">20.55</td>
                    <td id="perc_td" class="koef_648">4.38%</td>
                    <td id="my_bet" class="m648"></td>
                    <td id="possible" class="p648"></td>
                </tr>
                <tr>
                    <td>ThijsNL</td>
                    <td id="koef_td" class="k649">12.73</td>
                    <td id="perc_td" class="koef_649">7.07%</td>
                    <td id="my_bet" class="m649"></td>
                    <td id="possible" class="p649"></td>
                </tr>
                <tr>
                    <td>Firebat</td>
                    <td id="koef_td" class="k650">2.39</td>
                    <td id="perc_td" class="koef_650">37.68%</td>
                    <td id="my_bet" class="m650"></td>
                    <td id="possible" class="p650"></td>
                </tr>
                <tr>
                    <td>TidesofTime</td>
                    <td id="koef_td" class="k651">29.8</td>
                    <td id="perc_td" class="koef_651">3.02%</td>
                    <td id="my_bet" class="m651"></td>
                    <td id="possible" class="p651"></td>
                </tr>
                <tr>
                    <td>Ek0p</td>
                    <td id="koef_td" class="k652">21.48</td>
                    <td id="perc_td" class="koef_652">4.19%</td>
                    <td id="my_bet" class="m652"></td>
                    <td id="possible" class="p652"></td>
                </tr>
                <tr>
                    <td>StrifeCro</td>
                    <td id="koef_td" class="k653">14.47</td>
                    <td id="perc_td" class="koef_653">6.22%</td>
                    <td id="my_bet" class="m653"></td>
                    <td id="possible" class="p653"></td>
                </tr>
                <tr>
                    <td>Reynad</td>
                    <td id="koef_td" class="k654">65.22</td>
                    <td id="perc_td" class="koef_654">1.38%</td>
                    <td id="my_bet" class="m654"></td>
                    <td id="possible" class="p654"></td>
                </tr>
                <tr>
                    <td>Lothar</td>
                    <td id="koef_td" class="k655">67.67</td>
                    <td id="perc_td" class="koef_655">1.33%</td>
                    <td id="my_bet" class="m655"></td>
                    <td id="possible" class="p655"></td>
                </tr>
                <tr>
                    <td>Forsen</td>
                    <td id="koef_td" class="k656">46.63</td>
                    <td id="perc_td" class="koef_656">1.93%</td>
                    <td id="my_bet" class="m656"></td>
                    <td id="possible" class="p656"></td>
                </tr>
                <tr>
                    <td>Numberguy</td>
                    <td id="koef_td" class="k657">51.14</td>
                    <td id="perc_td" class="koef_657">1.76%</td>
                    <td id="my_bet" class="m657"></td>
                    <td id="possible" class="p657"></td>
                </tr>
                <tr>
                    <td>Other player</td>
                    <td id="koef_td" class="k658">15.79</td>
                    <td id="perc_td" class="koef_658">5.7%</td>
                    <td id="my_bet" class="m658"></td>
                    <td id="possible" class="p658"></td>
                </tr>
            </table>
            <br/><br/><br/>
            <center><b class="head_yel">YOU LOST: (Kolento)</b></center>
            <script type="text/javascript">var q76 = [];
            q76.push("32.73");
            q76.push("20.74");
            q76.push("53.25");
            q76.push("5.84");
            q76.push("20.55");
            q76.push("12.73");
            q76.push("2.39");
            q76.push("29.8");
            q76.push("21.48");
            q76.push("14.47");
            q76.push("65.22");
            q76.push("67.67");
            q76.push("46.63");
            q76.push("51.14");
            q76.push("15.79");
            function amountchange76(id) {
                if ($("#amount" + id + "").val() > -1) {
                    fm = 1314.620001643896;
                    val1 = parseFloat($("#amount" + id + "").val());
                    amount = parseInt($("#select76 option:selected").val());
                    koef = parseFloat($("#koef_td.k" + amount + "").text());
                    $("#win" + id + "").val(koef * val1);
                } else $("#amount" + id + "").val(0)
            }</script>
        </ul>
    </li>
    <style>tr#h td {
        padding: 5px;
        font-weight: bold;
        text-align: center;
    }</style>
    <li style="list-style: none; background: #151515;border: solid 1px;margin: 5px; color: gray; text-align: left; font-size: 13px; font-family: Tahoma;">
        <div style="height: 40px; background:#0B0B0B;">
            <div style="padding: 10px; padding-bottom: 0px; float: left;"><span
                    style="color: white; font-weight: bold; font-size: 18px;">D2CL Season 4 Finals</span>&nbsp;&nbsp;<span
                    style="color: white; font-weight: bold; font-size: 18px;">12:00:00 31.10.14</span></div>
            <div style="float: right;"><img
                    src="https://images.egamingbets.com/voting/d09bf41544a3365a46c9077ebb5e35c3.png" border="0"/></div>
        </div>
        <ul style="padding: 10px;color: #000000;list-style: none;">
            <center><b class="head_yel">Who will win in Dota 2 Champions League Season 4? Odds are not fixed. Your gain
                will be paid according to the final odds, when bets on the tournament will be closed.</b></center>
            <table width="100%" border="0" style="color: white;">
                <tr id="h">
                    <td>Name</td>
                    <td>Rate</td>
                    <td>Ratio</td>
                    <td>Your bet</td>
                    <td>Win prize</td>
                </tr>
                <tr>
                    <td>Team Empire</td>
                    <td id="koef_td" class="k640">2.83</td>
                    <td id="perc_td" class="koef_640">31.8%</td>
                    <td id="my_bet" class="m640"></td>
                    <td id="possible" class="p640"></td>
                </tr>
                <tr>
                    <td>Natus Vincere</td>
                    <td id="koef_td" class="k641">2.89</td>
                    <td id="perc_td" class="koef_641">31.12%</td>
                    <td id="my_bet" class="m641"></td>
                    <td id="possible" class="p641"></td>
                </tr>
                <tr>
                    <td>Team Tinker</td>
                    <td id="koef_td" class="k642">2.83</td>
                    <td id="perc_td" class="koef_642">31.8%</td>
                    <td id="my_bet" class="m642"></td>
                    <td id="possible" class="p642"></td>
                </tr>
                <tr>
                    <td>Sneaky Nyx Assassins</td>
                    <td id="koef_td" class="k643">18.33</td>
                    <td id="perc_td" class="koef_643">4.91%</td>
                    <td id="my_bet" class="m643"></td>
                    <td id="possible" class="p643"></td>
                </tr>
            </table>
            <br/><br/><br/>
            <center><b class="head_yel">YOU LOST: (Natus Vincere)</b></center>
            <script type="text/javascript">var q75 = [];
            q75.push("2.83");
            q75.push("2.89");
            q75.push("2.83");
            q75.push("18.33");
            function amountchange75(id) {
                if ($("#amount" + id + "").val() > -1) {
                    fm = 1094.5800001993775;
                    val1 = parseFloat($("#amount" + id + "").val());
                    amount = parseInt($("#select75 option:selected").val());
                    koef = parseFloat($("#koef_td.k" + amount + "").text());
                    $("#win" + id + "").val(koef * val1);
                } else $("#amount" + id + "").val(0)
            }</script>
        </ul>
    </li>
</ul>