/*!
 * Black Bootstrap v1.0
 *
 * Copyright 2013 Nachi
 * http://nachi.me.pn
 *
 * Designed by Nachi
 */
 
body {
	/*padding-top: 40px;*/

  }
 .lang {
    font-size: 12px;
     position: absolute;
    /*float: right;*/
    /*width: 1em;*/
     right: 6%;
    margin-right: -4%;
     margin-top: 3%;
    text-transform: uppercase;
}
 .lang select{
     width: 50px;
 }

 .lang li,
 .lang li {
    padding-left: 30px;
}

 .lang li:hover,
 .lang li:hover {
    background-color: #08C;
}

 .lang li.lang-ru,
 .lang .lang-ru .jq-selectbox__select-text,
 .lang li.lang-ru,
 .lang .lang-ru .jq-selectbox__select-text {
    background-image: url(../img/lang.png);
    background-repeat: no-repeat;
    background-position: 9px 50%;
}

 .lang li.lang-en,
 .lang .lang-en .jq-selectbox__select-text,
 .lang li.lang-en,
 .lang .lang-en .jq-selectbox__select-text {
    background-image: url(../img/us-icon.png);
    background-repeat: no-repeat;
    background-position: 9px 50%;
}

.statistics-t-scroll {
    height: 2000px;
    overflow-y: auto;
}
.statistics-bets-t a:link {	font-weight: bold;}
.statistics-bets-t a:visited {font-weight:bold;text-decoration:none;}
.statistics-bets-t a:active,.statistics-bets-t a:hover {	color: #bd5a35;	text-decoration:underline;}
.statistics-bets-t {	width:800px;	font-family:Arial, Helvetica, sans-serif;color:#666;font-size:12px;text-shadow: 1px 1px 0px #fff;background:#eaebec;	margin:0 auto;	border:#ccc 1px solid;
    -moz-border-radius:3px;	-webkit-border-radius:3px;border-radius:3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;	-webkit-box-shadow: 0 1px 2px #d1d1d1;box-shadow: 0 1px 2px #d1d1d1;}
.statistics-bets-t th {padding:21px 25px 22px 25px;	border-top:1px solid #fafafa;	border-bottom:1px solid #e0e0e0;
    background: #ededed;	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));background: -moz-linear-gradient(top,  #ededed,  #ebebeb);}
.statistics-bets-t th:first-child{text-align: left;padding-left:20px;}.statistics-bets-t tr:first-child th:first-child{	-moz-border-radius-topleft:3px;	-webkit-border-top-left-radius:3px;	border-top-left-radius:3px;}
.statistics-bets-t tr:first-child th:last-child{	-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;}
.statistics-bets-t tr{text-align: center;padding-left:20px;}.statistics-bets-t tr td:first-child{	text-align: left;padding-left:20px;border-left: 0;}
.statistics-bets-t tr td {padding:18px;border-top: 1px solid #ffffff;border-bottom:1px solid #e0e0e0;border-left: 1px solid #e0e0e0;	background: #fafafa;background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);}
.statistics-bets-t tr.even td{background: #f6f6f6;	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);}
.statistics-bets-t tr:last-child td{	border-bottom:0;}
.statistics-bets-t tr:last-child td:first-child{-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;}
.statistics-bets-t tr:last-child td:last-child{-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px;}
.statistics-bets-t tr:hover td{background: #f2f2f2;background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);}
.statistics-bets-t .active td{background: #f2f2f2;}
.statistics-bets-t .active td{background: grey;}
.result-table {
    width: 60%;
}
.correspondence {
    margin: 2%;
    margin-bottom: 4%;
}
.correspondence .message {
    border: 1px outset gray;
    border-radius: 4px;
    border-collapse: collapse;
    padding: 1%;
    width: 100%;
    margin-bottom: 1%;

    float: right;
}
.correspondence .message .info {
    width:15%;
    border-right:1px solid grey;
    float: left;
    border-radius: 4px;
    padding: 1%;
    border-collapse: collapse;

}
.correspondence .message .info .sender {
    font-size: 150%;
    margin: 5%;
}
.correspondence .message .info .created {
    /*margin: 5%;*/
}
.correspondence .message .text {
    margin-left: 20%;
    width:80%;
    /*border:1px solid blue;*/
    /*float: left*/

}


.margin-tb-5 {
    margin-top: 5%;
    margin-bottom: 5%;
}
.statistics-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
    text-shadow: 0 1px 0 #fff;
    color: #2a2a2a;
    background: #fafafa;
    background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff); /* Firefox 3.6 */
    background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff));
    margin-top:20px;
    margin-bottom:20px;
}
.statistics-table td {
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #cdcdcd;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.statistics-table tbody td {
    text-align: center;
    width: 150px;
}
.statistics-table td.grey
{
    background: #efefef;
    background: rgba(144,144,144,0.15);
    border-right: 1px solid white;
}
.statistics-table td.green
{
    background: #e7f3d4;
    background: rgba(184,243,85,0.3);
}
.statistics-table td:nowrap
{
    white-space: nowrap;
}
.statistics-table thead td
{
    font-size: 120%;
    font-weight: bold;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 1px solid #eaeaea;
}
.statistics-table tfoot td
{
    font-size: 120%;
    font-weight: bold;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid #dadada;
}
.statistics-table td.number {
    width: 10%;
}
.statistics-table td.subject {
    width: 25%;
}
.statistics-table td.text {
    width: 50%;
}
.statistics-table td.by {
    with: 15%;
}
.span-whites {
    white-space: pre-wrap;
}
.ticket-list {
    list-style: none;
}
.ticket-list li {
    font-size: 1.5em;
}
.ticket-list li a { display:block; text-decoration:none; color:#000000; background-color:#FFFFFF; line-height:30px;
    border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#CCCCCC; padding-left:10px; cursor:pointer; }
div.cont {
	background:url(../img/tiny_grid.png) repeat 0 0;
	height:100%;
	min-height:500px;
	padding-top:30px;
	padding-bottom:30px;
 }
.ticket-list li a .status {
    font-style: italic;
    font-size: 0.9em;
}

.sidebar-nav {
	padding: 9px 0;
  }

.main {
padding-left:20px;
padding-right:20px;
padding-bottom:20px;
background-color: #fff;
border: 1px solid #DEDEDE;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
margin-bottom: 10px ;
box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
min-height:300px;
height: auto;
overflow: hidden;
}


 
p, div {
  font-size:13px;
}

div.portlet-decoration {
color: #fff;
background-color: #000;
padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
}


ul li { font-size:13px; }


ul.sidebar {
margin:0px;
}

ul.sidebar li{
position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #ffffff;
border: 1px solid #dddddd;
}

/* Forms */
form {
  margin: 0 0 18px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
form label{
	float: left;
	width: 140px;
	/*padding-top: 5px;*/
	text-align: left;
	padding-right: 10px;
	padding-left: 15px;
	margin-bottom: 0px;
}
form div {
display:block;
}

h1 {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 13.5px;
  color: #999999;
}
label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
}

div.row {
margin-right: -15px;
margin-left: -15px;
	/*height: 37px;*/
	display: block;
	width: 100%;
	/*overflow: hidden;*/
}

form input,select,textarea { float:left; }

div.errorMessage {
	margin-left:140px;
	color: #b94a48;
    background-color: #f2dede;
    padding: 8px 35px 8px 14px;
    width:auto;
    margin-bottom:10px; 
    float:left; margin-left:20px;
    border: 1px solid #EED3D7;
   -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

input[type="button"],
input[type="submit"]{
  margin-left:140px; 
  color: #ffffff;
  background-color: #000;
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  margin-right: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
}
input,
textarea {
  width: 210px;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */

  line-height: normal;
  cursor: pointer;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 28px;
}
select {
  width: 220px;
  border: 1px solid #bbb;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio,
.checkbox {
  min-height: 18px;
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}
input,
textarea,
.uneditable-input {
  margin-left: 0;
}
input.span12, textarea.span12, .uneditable-input.span12 {
  width: 930px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
  width: 850px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
  width: 770px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
  width: 690px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
  width: 610px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
  width: 530px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
  width: 450px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
  width: 370px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
  width: 290px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
  width: 210px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
  width: 130px;
}
input.span1, textarea.span1, .uneditable-input.span1 {
  width: 50px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #f5f5f5;
  border-color: #ddd;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}



/* Breadcrums */
.breadcrumb {
  padding: 7px 14px;
  margin: 0 0 18px;
  list-style: none;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.breadcrumb li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  text-shadow: 0 1px 0 #ffffff;
}
.breadcrumb .divider {
  padding: 0 5px;
  color: #999999;
}
.breadcrumb .active a {
  color: #333333;
}

/* Table */

.grid-view table.items {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

table.items tr{ 
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

div.rememberMe { display:block; margin-left:60px;}

p.hint { float:left; display:block;}

.extra {
  border-top: 1px solid #000;
  padding: 20px 0;
  font-size: 11px;
  color: #BBB;
  background: #1A1A1A;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.extra ul {
  width:300px;	
}

.extra a {
  color: #666;
}
.extra h4 {
  margin-bottom: 1em;
  font-weight: 400;
}
.extra ul {
  padding: 0;
  margin: 0;
}
.extra ul li {
  margin-bottom: .6em;
  list-style: none;
}
/*------------------------------------------------------------------
[ Footer/ .footer ]
*/
.footer {
  margin-top: 0;
  border-top: 1px solid #000;
  padding: 15px 0;
  font-size: 12px;
  background: #111;
  color: #999;
  -webkit-box-shadow: inset 0 1px 0 #292929;
  box-shadow: inset 0 1px 0 #292929;
}
.footer #footer-terms {
  text-align: center;
  bottom:0px;
}
.footer a {
  color: #FFF;
}
.footer a:hover {
  color: #FFF;
  text-decoration: none;
}

.col-md-3 { float: left; }
.grid-view .filters input, .grid-view .filters select {
	width: 96%;
	border: 1px solid #ccc;
	margin-bottom: 0;

}
#cartons-grid.grid-view .filters input {
	width: 96%;
	margin-bottom: 0;
}
#cartons-grid.grid-view .filters input, #user-grid.grid-view .filters input {
	width: 96%;
	margin-bottom: 0;
}
#cartons-grid.grid-view .table {
	table-layout: fixed;
}
table.table .filters input,table.table .filters select {
	display: inline;
}
table.table .filters select {
	width: 100%;
}
table.table tr.filters td {
	text-align: center;
	vertical-align: middle;
}
ul.ui-buttons-panel {
	float: right;
	list-style: none;
	width: 100%;
	text-align: right;

}
table.table thead {
	background-color: #D9EDF7;
}
table.table .even {
	background-color: #f5f5f5;
}
.errorSummary {

	color: #b94a48;
	background-color: #f2dede;
	padding: 8px 35px 8px 14px;
	width: auto;
	margin-bottom: 10px;
	float: left;

	border: 1px solid #EED3D7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 95%;
}
.grid-view .pager {
	/*text-align: center;*/
}
ul.yiiPager li {
	display: inline-flex;
}
.topnav {
	top: 8px;
	float: right!important;
}
.table th {
	text-align: center;
}
ul.sidebar li.active {
    font-weight: bold;
}
span.required {
	color: red;
}
.table tr td, .table tr th {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
}
.table tr.even td {


	/*border-left: 1px solid #fff;*/
	/*border-right: 1px solid #fff;*/
}
#pageSize {
	width: 50px;
    float: left;
}

/*Charts fix*/

#reports-chart .labels {
	position: absolute;
	top: 103px;
	right: 170px;
}
#reports-chart .labels .chart-label {
	display: block;
	margin: 5px;
}
#reports-chart canvas {
	display: block;
	margin-left: 203px;
}
#details-dialog {
	max-height: 600px;
	overflow: auto;
}
.ContentAdmin tr th {
	color: #0088cc;
}
#login-form .errorMessage {
	width: 87%;
	padding: 3px 10px;
}
#user-form .row, .row  {
	overflow: hidden;
}
.ui-datepicker-current { display: none; }
.grid-view .pager {
    margin: 5px 0 0 0;
    text-align: right;
    float: right;
}
.row.image, .row.buttons {
    height: auto;
}
ul.sidebar {
	display: none;
}
.portlet {
	padding-bottom: 10px;
}
.portlet-decoration {
	cursor: pointer;
}
.ui-buttons-panel  li {
    display: inline-block;
}