.yiiPager {
    margin: 40px 0 55px;
    text-align: center;
    font-size: 1.1em;
}
.yiiPager .page {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-left: 8px;
}
.yiiPager .page a,
.yiiPager .page a  {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    display: block;
    height: 20px;
    width: 20px;
    /*background: #212121;*/
    border-radius: 4px;
    border-top: 1px solid #0e0e0e;
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #727272;
    color: #cbcbcb;
    border-radius: 15px;
    text-decoration: none;
}
 .yiiPager .selected a {
        height: 19px;
     color: black;
    width: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.39);
    border: 1px solid #f3b906;
    border-top-color: #fef7a7;
    border-bottom-color: #f28c08;
    border-radius: 4px;
    background: #eeb004;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0da02), color-stop(100%, #ec7206));
    background: -o-linear-gradient(top, #f0da02 0%, #ec7206 100%);
    background: -ms-linear-gradient(top, #f0da02 0%, #ec7206 100%);
    background: linear-gradient(#f0da02, #ec7206);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 16px;
    border-radius: 15px;
    text-shadow: none;
}
.yiiPager .first {
    width: auto;
}
.yiiPager .first a {
    width: auto;
    background: none;
    border: none;
    text-shadow: none;
    border-radius: 0;
    text-decoration: underline;
    color: #fafafa;
}
.yiiPager .first a:hover {
    text-decoration: none;
}

.yiiPager .previous {
    width: auto;
}
.yiiPager .previous a {
    width: auto;
    background: none;
    border: none;
    text-shadow: none;
    border-radius: 0;
    text-decoration: underline;
    color: #fafafa;
}
.yiiPager .privious a:hover {
    text-decoration: none;
}

.yiiPager .next {
    width: auto;
}
.yiiPager .next a {
    width: auto;
    background: none;
    border: none;
    text-shadow: none;
    border-radius: 0;
    text-decoration: underline;
    color: #fafafa;
}
.yiiPager .next a:hover {
    text-decoration: none;
}

.yiiPager .last {
    width: auto;
}
.yiiPager .last a {
    width: auto;
    background: none;
    border: none;
    text-shadow: none;
    border-radius: 0;
    text-decoration: underline;
    color: #fafafa;
}
.yiiPager .last a:hover {
    text-decoration: none;
}